/* .container1 {
   position: relative;
   justify-content: center;
   align-items: center;
  
   padding: 20px 100px;
   background-color:#c8e8e9 ;
} */
.container1 {
   width: 80%;
   position: relative;
   margin: 20px 100px 20px 150px;
   background: #ffff;
   border-radius: 6px;
   padding: 20px 60px 40px 40px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  
   height: 100%;
}

.container1 .content1 {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.container1 .content1 .left-side1::before {
   content: '';
   position: absolute;
   height: 70%;
   width: 2px;
   right: -40px;
   top: 50%;
   transform: translateY(-50%);
   background: rgb(135 182 232);

}

.container1 .content1 .left-side1 {
   width: 75%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 15px;
   position: relative;
}

.container1 .content1 .listgroup
{
   margin: 10px;
   text-align: left;
   /* font-size: 30px; */
   /* color: rgb(135 182 232); */
   /* margin-bottom: 10px; */
   font-size: 14px;
   color: #afafb6 !important;
}
.container1 .content1 .CalCard
{
   height: 100%;
   width: 30rem;
   background-color:#ffff ;
}
/* .container .left-side .details {
   margin: 14px;
   text-align: center;
} */

/* .content .left-side .details i {
   font-size: 30px;
   color: rgb(135 182 232);
   margin-bottom: 10px;
} */

/* .content .left-side .details .text-one,
.content .left-side .details .text-two {
   font-size: 14px;
   color: #afafb6;
} */

.container1 .right-side1 {
   width: 30%;
}

.container1 .content1 .right-side1 {
   margin: 0%;
   margin-left: 75px;
}
/*  
.content .right-side .topic-text {
   font-size: 23px;
   font-weight: 600;
   color: rgb(135 182 232);
}

.right-side .input-box {
   height: 50px;
   width: 100%;
   margin: 12px 0;
} */

/* .right-side .input-box input,
.right-side .input-box textarea {
   height: 100%;
   width: 100%;
   border: none;
   border-radius: 6px;
   font-size: 16px;
   background: #F0F1F8;
   padding: 0 15px;
   resize: none;

} */

/* .container .right-side .details .topic {
   font-size: 18px;
   font-weight: 500;

} */

/* .right-side .message-box {
   min-height: 110px;
} */

 .button1 {
   position: absolute;
   bottom: 2%;
   right: 30%;
   background-color: #6cb6c4;
   color: #FFFFFF;
   border: solid transparent;
   border-radius: 12px;
   line-height: 20px;
   margin: 0;
   outline: none;
   overflow: visible;
   padding: 20px 20px;
   text-align: center;
   text-transform: uppercase;
   touch-action: manipulation;
   transform: translateZ(0);
   transition: filter .2s;
   user-select: none;
   -webkit-user-select: none;
   vertical-align: middle;
   white-space: nowrap;
}
 
@media (max-width:950px) {
   .container1 {
       width: 90%;
       padding: 30px 35px 40px 35px;
   }
}

@media (max-width:820px) {
   .container1 {
       margin: 40px 0;
       height: 100%;
   }

   .container1 .content1 {
       flex-direction: column-reverse;
   }

   .container1 .content1 .left-side1 {
       width: 100%;
       flex-direction: row;
       margin-top: 40px;
       justify-content: center;
       flex-wrap: wrap;
   }

   .container1 .content1 .left-side1::before {
       display: none;
   }

   .container1 .content1 .right-side1 {
       width: 100%;
       margin-left: 0;
   }
}


.left-side1 {
   width: 400px;
   height: max-content;
   margin-top: 40px;
   margin-right: 100px;
   transition: 0.8s;
   font-family: 'Quicksand', sans-serif;

}

.left-side1:hover {
   margin-top: 25px;
}