[8:26 pm,
12/08/2022]+962 7 8750 5333: {
    /* <style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
    </style> */
}
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

body {
    width: 100%;
    height: 100vh;
    background: rgb(245, 241, 241);

}

.container {
    position: relative;
     
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
p{
    content: '';
}
.container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position-y: center;
    color: black;
    z-index: -1;
    filter: blur(50%);
}
.container-img_form{
    display: flex;
}
.form {
    width: 500px;
height: 500px;
 box-sizing: content-box;
 box-shadow: 50px;

    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
position: relative;
margin-left:150px;
margin-top: 70px;
}
.form h2{
    color: black;
    font-size: 80px;
    position: relative;
    margin-left: 80px;
    
}
.form p{
    color: gray;
}

.img {
    
    position: relative;
    margin-top: 70px;
} 

.contactus {
    width: 100%;
    height: 200px;
    background-color: #5BB318;
}

/* body .form{
    
        align-content: space-between;
        margin: ;
    } */
/* .form{
     
    } */

/* form {
        background-color: #bbd3a8;
        box-sizing: inherit;
    } */