.shadow{
  margin: 0;
  padding:0;
  position: relative;
  bottom: 0px;
  width: 100%;
  padding-top: 25px;
  background-color: #E2FCFF;
  height: 300px ;
  text-shadow: 0.5px  .5px 1px rgb(92,173,190) ;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.copy-footer {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #4c8389;

}
.copyFooter{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #4c8389;
  margin-top: 1rem !important;
}
.copy-footer {
  animation-duration: 3s;
  animation-name: slidein;
}
.footCopyRight{
  margin-top: 1.25rem;
}

.copy-footer u{
  color: rgb(56, 50, 50);
}

.footIcons {
  position: absolute;
  bottom: 25px;

}