

.navbar-head{
    
    background-color: #4c8389;
}
.navbar-head .basic-navbar-nav .mr-auto

.HistoryHeader.nav-link.img-nav{
size: 10%;
}
.nav .basic-navbar-nav .mr-auto .nav-link {
    color: rgb(183, 12, 12);
}