.App {
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  /* background-color: #dededd; */
}


.body {
  margin: 0!important;
  padding: 0!important;
  
}

.nav-link{
  color : black !important;
    text-transform: uppercase;
}
.imgUser{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-bottom: 4px;
}


@font-face {
  font-family: abeatbyKaiRegular;
  src: url("./components/style/abeatbyKaiRegular.otf") format("opentype");
}
@font-face {
  font-family: BebasNeue-Regular;
  src: url("./components/style/BebasNeue-Regular.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+VIC+WA+NT+Beginner&family=Rubik+Moonrocks&display=swap');
/* font-family: 'Bebas Neue', cursive;
font-family: 'Edu VIC WA NT Beginner', cursive;
font-family: 'Rubik Moonrocks', cursive; */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.dosageDiv{
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.cardClass{

  border-radius: 33;
  border-radius: 15px 20px 95px !important;
  height: Auto;
  padding-left: 7%;
  padding-right: 7%;

}
.cardTitle{
  color: #4c8389 !important;
  padding-bottom: 4px ;
  font-family: BebasNeue-Regular !important;
  font-size: xxx-large !important;

}
.cardText{
  font-family: 'Oswald', sans-serif;


}
.cardBody{
  grid-row: 1 / 4 !important;
}
.titleCardHeader{
padding-left: 10% !important;
padding-right: 150px!important;
border-radius: 5rem!important;
color: #4c8389;
font-size: xx-large;
}
.titleCardHeaderDiv{
  padding-left: 7% !important;
  padding-right: 7% !important;
  padding-bottom: 3%;

}

.cardParent{
  width: 100% !important;
  display: grid !important;
  font-family: abeatbyKaiRegular;
  padding: 17px !important;
  border-radius: 20px 20px 20px !important;
}
.cardImg{
  grid-row: 1 / 4 !important;
  width: 23rem !important;
  height: 23rem !important;
  margin: 3%;
}

.contactus_title{
  color: blueviolet;
  font-size: 100px;
}
.hero-h1{
  text-transform: uppercase;
  font-family: BebasNeue-Regular !important;
}
.hero-img{
  margin-top: 15%;
}
.headerLogo{
  text-align: center;
  font-family: abeatbyKaiRegular !important;
  font-size: 12vmin;
  font-weight: 700;
  text-shadow: 8px 4px 5px rgb(135 182 232) !important;
  outline: none;
  white-space: nowrap;
}
/* .history-h1{
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
} */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .HistoryHeader{
position:static;
right: 12%;
} */

.HistoryHeader{
  position: absolute;
  right: 12%;
}
.LogBtn{

background-color: #6cb6c4;
color: #FFFFFF;
border: solid transparent;
border-radius: 12px;
line-height: 20px;
margin-right: 1rem !important;
outline: none;
padding: 7px 15px;
text-align: center;
text-transform: uppercase;
touch-action: manipulation;
transform: translateZ(0);
transition: filter .2s;
user-select: none;
-webkit-user-select: none;
vertical-align: middle;
white-space: nowrap;
}

.LogBtn:active {
  background-color: #2ca3cb;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.LogBtn:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;

  right: 0;
  top: 0;
  z-index: -1;
}
.LogBtn:main,
.LogBtn:focus {
  user-select: auto;
}
.LogBtn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.LogBtn:disabled {
  cursor: auto;
}



.NavBrand{
  margin-left :3%;;
}

.App footer{
  width: 100%;
  bottom: 0;
}

.div-video{
  margin-top: 100px;
}
.video{
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;

  margin-left: 12%;
}
.item {
  background: gray;
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

/* images */

.image-src{
  margin-top: 100px;
  display: flex;
  margin-left: 5%;
}
 
.item1 {
  background: gray;
  /* width: px;
  height: 50px; */
  margin: 0 0px;
}
.item2 {
  background: gray;
  /* width: 50px;
  height: 50px; */
  margin: 0 0px;
 position: relative;
 top: -50px;
}